package ${package_name}.api;

import com.fmi110.common.base.BaseService;
import ${package_name}.dao.model.${model};
import ${package_name}.dao.model.${model}Example;

/**
* ${model}Service接口
* Created by fmi110 on ${ctime}.
*/
public interface ${model}Service extends BaseService<${model}, ${model}Example> {

}